/* ? Font */
@import url(https://fonts.googleapis.com/css?family=Cairo:200,300,regular,500,600,700,800,900);

/* Css Variable */
:root {
  // --body-bg-color: #2a353c;
  // --container-bg-color: #27373b;
  // --body-bg-color: #25273a;
  // --container-bg-color: #707bed;
  --body-bg-color: #80a6be;
  --container-bg-color: #2f536e;
  --container-hover-bg-color: #a5bfd5;
  --display-bg-color: #b6b6b6;
}

/* All * */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}
/* Html Font Name */
html {
  // font-family: "Montserrat", sans-serif;
  font-family: "Cairo", sans-serif;
}
/* Wrapper Section */
section {
  background-color: var(--body-bg-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Container  Calculator */
  .container {
    width: 90%;
    max-width: 600px;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    overflow: hidden;
    /* Inner Calculator */
    .calculator {
      /* Element Display */
      .display {
        background-color: var(--display-bg-color);
        height: 100px;
        width: 100%;
        text-align: right;
        padding: 20px;
        font-size: 30px;
        position: relative;
        /* Element Display 1 */
        .display-1 {
          opacity: 0.4;
          font-size: 20px;
          height: 30px;
          overflow: hidden;
        }
        /* Element Temp Result  */
        .temp-result {
          position: absolute;
          bottom: 0;
          left: 10px;
          font-size: 20px;
          opacity: 0.3;
        }
      }
      /* Element All Button */
      .all_button {
        color: whitesmoke;
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        /* All Single Button */
        .button {
          border: 0.5px solid #5c5c5c23;
          display: inline-block;
          height: 100px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          cursor: pointer;
          transition: all 0.2s linear;
          /* Event Hover On Single Button */
          &:hover {
            background-color: var(--container-hover-bg-color);
            border-radius: 0.3rem;
          }
          /* Element Zero */
          &.btn-0 {
            grid-column: 1/3;
          }
        }
      }
    }
  }
}
